/**
 * pgtheme for Drupal 5.x and 6.x - http://pgfoundry.org/projects/pgtheme/
 * Created by Massimiliano Marini info@massimilianomarini.com
 * http://www.massimilianomarini.com
 */
 
* {
  position: static;
  left: 0;
  padding: 0;
  margin: 0;
  width: auto;
  float: none;
  clear: both;
  background: none;
  color: #000;
}
body, input, textarea, select {
  background: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#header-block, ul.primary-links, .sidebar {
  display: none;
}